Qss/icons/
venv/
venv3.11/
**/__pycache__/
logs/*
nazwa_bazy.db
logs/custom_widgets.log
.qt_for_python/
emails_kukulka.db
emails_kukulka.sqlite
empty_emails_kukulka.sqlite
/build
/build/main
/dist
archiw_rpabich_2020.sqlite
/build/base_library.zip
build/main/base_library.zip
Umowy_05'18_pozycje 5_6.zip
build/main/base_library.zip
test.py
logo.jpg
DejaVuSansCondensed.ttf

