*{
    font-family: 'Sans Serif';
}

QMainWindow, #centralwidget{
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid $COLOR_BACKGROUND_4;
}

QPushButton, QLineEdit, QDateEdit{
    padding: 8px 10px;
    border-radius: 10px;
    min-width: auto;
    width: auto;
    
    
}

QFrame #serchEmailFrame{
    background-color: #000000;
    border-right: $BORDER_2;
    border-left: $BORDER_2;
    border-radius: 0;
}
QFrame #frame_11{
    background-color: #000000;
    border-right: $BORDER_2;
    border-left: $BORDER_2;
    border-radius: 0;
}

#leftMenu{
    & QWidget{
        background-color: transparent;
    }
    background-color: $COLOR_BACKGROUND_1;
    padding-top: 10px;
    border-right: 6px solid $COLOR_BACKGROUND_3;
}

#centerMenu{
    border-left: 6px solid $COLOR_ACCENT_1;
    border-right: 6px solid $COLOR_BACKGROUND_3;
}

#rightMenu{
    border-left: $COLOR_BACKGROUND_1;
    border-right: 6px solid $COLOR_BACKGROUND_3;
}

#leftMenu QPushButton{
    background-color: transparent;
    text-align: left;
    padding: 5px 10px;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#centerMenu, #rightMenu{
    & > QWidget{
        background-color: transparent;
        padding: 10px;
        border-bottom: $BORDER_2;
        *{
            background-color: transparent;
        }
    }

    & > QStackedWidget{
        border-radius: 10px;
        background-color: transparent;
        border: none;
    }
}

#header, #footer{
    background-color: $COLOR_BACKGROUND_1;
    * {
        background-color: transparent;
    }
}

#header{
    border-bottom: $BORDER_2;
    #frame_3{
        padding: 0;
        QPushButton{
            padding: 4px 2px;
            border-radius: 0;
            &:hover{
                background-color: $COLOR_BACKGROUND_2;
            }
        }
    }
}

#footer{
    border-top: 6px solid $COLOR_BACKGROUND_3;
}

#titleTxt{
    color: $COLOR_ACCENT_1;
}

#mainPagesCont{
    background-color: $COLOR_BACKGROUND_1;
    border: none;
    border-radius: 10px;
    QStackedWidget{
        background-color: transparent;
        border: none;
    }
    #chartPage,  #homePage, #reportsPage{
        background-color: $COLOR_BACKGROUND_1;
        *, QWidgets{
            background-color: transparent;
            border: none;
        }
    
    }
    #dataAnalysisPage{
        background-color: $COLOR_BACKGROUND_1;
        *, QWidgets{
            background-color: transparent;
            border: none;
        }
        QLineEdit{ border: 1px solid $COLOR_TEXT_1}
        #serchEmailFrame{
        QPushButton{border: 1px solid $COLOR_TEXT_1}}

        QTableWidget{
            background-color:$COLOR_BACKGROUND_1}
        QTableWidget::item:selected {
                    background-color: $COLOR_ACCENT_3; 
                }
            
        QTableWidget::item:selected:active {
                    background-color: $COLOR_ACCENT_3;  
                    }

        #show_flags_btn:checked {
            background-color: $COLOR_ACCENT_1;}
        #show_flags_btn:hover {
        background-color: $COLOR_ACCENT_1;}
    
        
        #listAttachments,#frame_8{
            border: 1px solid $COLOR_TEXT_1;
        }
}
}


QProgressBar{
    height: 1px;
    border-width: 1px;
    ::chunk {
        background-color: $COLOR_ACCENT_4;
        border-radius: 5px;
    }
}

#serachinpCont{
    border-right: $BORDER_2;
    border-radius: 0;
    *{
        border: none;
        background-color: transparent;
        border-radius: 2px;
    }
    QPushButton{
        &:hover{
            background-color: $COLOR_ACCENT_1;
        }
    }
    &:hover{
        background-color: $COLOR_BACKGROUND_2;
    }
}

#frame_2{
    border-right: $BORDER_2;
    border-left: $BORDER_2;
    border-radius: 0;
    *{
        border: none;
        background-color: transparent;
        border-radius: 2px;
    }

}

